# BLC Credentials
BLC_USERNAME=your_username_here
BLC_PASSWORD=your_password_here
BLC_BASE_URL=https://elearn.daffodilvarsity.edu.bd

# WhatsApp Alert Target
WHATSAPP_TARGET=Your_PhoneNumber(eg. 8801841306201)
